@model SEO
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    var ctx = new Eagles.LMS.BLL.UnitOfWork();
}



<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Update SEO</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission">Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    @using (Html.BeginForm("Index", "SEO", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(s => s.Id)

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Who Last Edit</h4>
                    <div class="card-body">
                        <div class="">
                            @try
                            {
                                <div class="alert alert-success" role="alert">
                                    <h4 style="margin:0; color:#fff">Last User Edited : <span class="alert-link">@ctx.UserManager.GetBy(Model.UserEditId).FullName</span> Last Edited Time : <span class="alert-link">@Model.EditeTime</span></h4>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Shard SEO Google Tags</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Google Tage Manager (After open head Tag)</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(s => s.GoogleTageManager, new
                           {
                               @class = "form-control TextArea_Control ",
                               placeholder = "Google Tage Manager "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Google Tage Analitics (Before Close /head Tag)</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(s => s.GoogleTageAnalitics, new
                           {
                               @class = "form-control TextArea_Control ",
                               placeholder = "Google Tage Analitics "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Google Tage Search (After open body Tag)</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(s => s.GoogleTageSearch, new
                           {
                               @class = "form-control TextArea_Control ",
                               placeholder = "Google Tage Search "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Home Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomePageTitleArabic, new
                           {
                               @class = "form-control FontCairo ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomePageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.HomPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">About US Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AboutUsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Location OutDoor Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.OutDoorLocationsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Location Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.LocationsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Services Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ServicesPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">News Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.NewsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Agenda Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AgendaPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Albums Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.AlbumsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Video Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.VideoPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Picture Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.PicturePageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Citizen Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CitizenPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Contact US Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.ContactUsPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title btn-dark m-0 text-white p-3">Booking Page</h4>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageTitleArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 150 إلى 200 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Page Title English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageTitleEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Page Title "
                           })
                                <span class="LableTextSEO ">SEO standard from 150 to 200 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageMetaDescriptionArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO LableTextSEOTitleAR">معيار SEO من 200 إلى 250 حرف</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta Description English</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageMetaDescriptionEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta keywords "
                           })
                                <span class="LableTextSEO ">SEO standard from 200 to 250 character</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords Arabic</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageMetaKeywordsArabic, new
                           {
                               @class = "form-control FontCairo",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Meta keywords English </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageMetaKeywordsEnglish, new
                           {
                               @class = "form-control ",
                               placeholder = "Meta Description "
                           })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"> Canonical Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(s => s.CareersPageCanonicalUrl, new
                           {
                               @class = "form-control ",
                               @readonly = "readonly",
                               placeholder = "Canonical Url "
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <!-- end row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="foooterbuttons">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> @Resources.Global.Save
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }

</div>







@section EndBody{


    @if (requestStatus != null)
    {

        <script>

              notify = $.notify({
                  message: '@requestStatus.Message',

              }, {

                  type: '@requestStatus.Status' == 'Edited' ? "success" :"danger",
                      animate: {
                          enter: 'animated flipInY',
                          exit: 'animated flipOutX',
                      }
                  });
        </script>


        TempData.Remove("RequestStatus");

    }
}