@using Eagles.LMS.BLL
@using Eagles.LMS.App_GlobalResources
@{
    UnitOfWork ctx = new UnitOfWork();
    var setting = ctx.SettingsManager.GetAll().FirstOrDefault();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    string UserID;
    User user = null;
    if (Session["User_Key"] != null)
    {
        UserID = Session["User_Key"].ToString();
        user = ctx.UserManager.GetBy(int.Parse(UserID));
    }
    bool en = true;
    var url = Context.Request.CurrentExecutionFilePath;
    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;
    }
    string SEOLang;
    if (en)
    {
        SEOLang = "en";
    }
    else
    {
        SEOLang = "ar";
    }
    var _contactUs = ctx.ContactUsManager.GetAll().FirstOrDefault();
    var _services = ctx.ServiceManager.GetAll().Where(s => s.Status == EntityStatus.Approval).OrderByDescending(s => s.Id).ToList();
    var _galaries = ctx.GalaryManager.GetAll().Where(s => s.IsImage).OrderByDescending(s => s.Order).ToList();
    var allSocialMedia = ctx.SocialMediaManager.GetAll().ToList();
}
<!DOCTYPE HTML>
<html lang="@SEOLang">

<head>
    <!-- Google Tag Manager -->
    @Html.Raw(@SEO.GoogleTageManager)
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @RenderSection("PageTitle", required: false)
    @RenderSection("metatags", required: false)
    @if (!string.IsNullOrEmpty(setting.MegaTags))
    {
        <meta name="viewport" content="@setting.MegaTags">
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/assets_NewPublic/css/gallery-jquery.flipster.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets_NewPublic/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets_NewPublic/css/ionicons.min.css">
    <link href="~/assets_NewPublic/css/bootstrape.min.two.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets_NewPublic/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets_NewPublic/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets_NewPublic/css/style.css" />
    <script src="~/assets_NewPublic/js/7ecf8dac4e.js"></script>
    <link href="~/assets_NewPublic/libs/VideoPopUp/css/jquery.fancybox.css" rel="stylesheet" />
    @if (en)
    {
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/assets_NewPublic/css/style.css" />
    }
    else
    {
        <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700,900" rel="stylesheet">
        <link href="~/assets_NewPublic/css/Style_RTL.css" rel="stylesheet" />
    }
    <link href="~/assets_NewPublic/css/ResponsivePublic.css" rel="stylesheet" />
    <link rel="icon" href="~/assets_NewDash/images/NewImg/logoIcon.png">
    @RenderSection("EndHeader", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @Html.Raw(@SEO.GoogleTageAnalitics)
</head>
<body>
    @Html.Raw(@SEO.GoogleTageSearch)
    <nav class="navbar visible-xs">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img-responsive logo" src="@_contactUs.Logo" alt="logo-b" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="active-a" href="/"> @Resources.Global.Home </a></li>
                    @if (setting.ShowAboutUs)
                    {
                        <li><a href="/Home/AboutUs"> @Resources.Global.Aboutus </a></li>
                    }
                    @if (setting.ShowLocations)
                    {
                        <li><a href="/Home/Locations"> @Resources.Global.Locations  </a></li>
                    }
                    @if (setting.ShowServices)
                    {
                        <li><a href="/Home/Services">  @Resources.Global.services </a></li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Resources.Global.NewsEvents  </a>
                        <ul class="dropdown-menu dropmenuNew">
                            @if (setting.ShowNews)
                            {
                                <li><a href="/Home/News">@Resources.Global.News</a></li>
                            }
                            @if (setting.ShowAgenda)
                            {
                                <li><a href="/Home/Agenda"> @Resources.Global.Agenda</a></li>
                            }
                            @if (setting.ShowCitizen)
                            {
                                <li><a href="/Home/Citizen"> @Resources.Global.Citizen</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Resources.Global.Gallery  </a>
                        <ul class="dropdown-menu">
                            @if (setting.ShowGalarVideos)
                            {
                                <li><a href="/Home/VideoAlbums">@Resources.Global.Video</a></li>
                            }
                            @if (setting.ShowGalaryPhotos)
                            {
                                <li><a href="/Home/Albums"> @Resources.Global.Picture</a></li>
                            }
                        </ul>
                    </li>
                    @if (setting.ShowContactUs)
                    {
                        <li><a href="/Home/ContactUsHome">@Resources.Global.ContactUs</a></li>
                    }
                    <li><a href="/Home/Booking">@Resources.Global.Booking</a></li>
                    @if (en)
                    {
                        <li><a href="/Home/ChangeLanguage?SelectedLanguage=ar-EG&redirect=@url">@Resources.Global.Arabic</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/ChangeLanguage?SelectedLanguage=en&redirect=@url">@Resources.Global.English</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @if (setting.ShowSocialMedias)
    {
        <div class="position-1">
            <ul>
                @if (allSocialMedia != null && allSocialMedia.Any())
                {
                    foreach (var social in allSocialMedia)
                    {
                        if (@social.Link.ToLower().Contains("facebook"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #3d53aa;" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("twitter"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #03A9F4;" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("linkedin"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #0077B5;" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("whatsapp"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #29A71A;" target="_blank">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("instagram"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #af7a2c;" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("youtube"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #dc3545;" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("dailymotion"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #000;" target="_blank">
                                    <i class="fab fa-dailymotion"></i>
                                </a>
                            </li>
                        }
                        if (@social.Link.ToLower().Contains("tvz"))
                        {
                            <li>
                                <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #fff;" target="_blank">
                                    <img src="~/assets_NewPublic/images/icons/TVZ.PNG" alt="TVZ.PNG" />
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    }
    <div class="strip visible-lg">
        <div class="container">
            <div class="row">
                <div class="cleaner-h1-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="search-input" style="display:none">
                        <input type="text" placeholder="Search" />
                    </div>
                    @if (setting.ShowSocialMedias)
                    {
                        <ul class="buttons">
                            @if (allSocialMedia != null && allSocialMedia.Any())
                            {
                                foreach (var social in allSocialMedia)
                                {
                                    if (@social.Link.ToLower().Contains("facebook"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #3d53aa;" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("twitter"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #03A9F4;" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("linkedin"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #0077B5;" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("whatsapp"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #29A71A;" target="_blank">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("instagram"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #af7a2c;" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("youtube"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #dc3545;" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("dailymotion"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #000;" target="_blank">
                                                <i class="fab fa-dailymotion"></i>
                                            </a>
                                        </li>
                                    }
                                    if (@social.Link.ToLower().Contains("tvz"))
                                    {
                                        <li>
                                            <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #fff;" target="_blank">
                                                <img src="~/assets_NewPublic/images/icons/TVZ.PNG" alt="TVZ.PNG" />
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    }
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="language">
                        @if (en)
                        {
                            <a href="/Home/ChangeLanguage?SelectedLanguage=ar-EG&redirect=@url"><img class="img_lang" src="~/assets_NewPublic/images/buying4.png" alt="buying4.png" /> <p> @Resources.Global.Arabic</p></a>
                        }
                        else
                        {
                            <a href="/Home/ChangeLanguage?SelectedLanguage=en&redirect=@url"><img class="img_lang" src="~/assets_NewPublic/images/buying4.png" alt="buying4.png" /> <p> @Resources.Global.English</p></a>
                        }
                    </div>
                    <div class="strip-white"></div>
                    <div class="language lefr">
                        <a href="/Home/Booking">
                            <p> @Resources.Global.Booking</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2">
                    <div class="LogoHader">
                        <a href="/">
                            <img src="@_contactUs.Logo" class="img-responsive logo wow fadeInRight" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-10">
                    <div class="cleaner-h4"></div>
                    <ul class="menu pull-right wow fadeInLeft">
                        <li><a class="active-a1" href="/"> @Resources.Global.Home </a></li>
                        @if (setting.ShowAboutUs)
                        {
                            <li><a class="active-a2" href="/Home/AboutUs"> @Resources.Global.Aboutus </a></li>
                        }
                        @if (setting.ShowLocations)
                        {
                            <li><a class="active-a3" href="/Home/Locations"> @Resources.Global.Locations  </a></li>
                        }
                        @if (setting.ShowServices)
                        {
                            <li><a class="active-a4" href="/Home/Services">  @Resources.Global.services </a></li>
                        }
                        <li class="dropdown">
                            <a class="dropdown-toggle active-a5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Resources.Global.NewsEvents  </a>
                            <ul class="dropdown-menu dropmenuNew">
                                @if (setting.ShowNews)
                                {
                                    <li><a href="/Home/News">@Resources.Global.News</a></li>
                                }
                                @if (setting.ShowAgenda)
                                {
                                    <li><a href="/Home/Agenda"> @Resources.Global.Agenda</a></li>
                                }
                                @if (setting.ShowCitizen)
                                {
                                    <li><a href="/Home/Citizen"> @Resources.Global.Citizen</a></li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle active-a6" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @Resources.Global.Gallery  </a>
                            <ul class="dropdown-menu dropmenuNew">
                                @if (setting.ShowGalarVideos)
                                {
                                    <li><a href="/Home/VideoAlbums">@Resources.Global.Video</a></li>
                                }
                                @if (setting.ShowGalaryPhotos)
                                {
                                    <li><a href="/Home/Albums"> @Resources.Global.Picture</a></li>
                                }
                            </ul>
                        </li>
                        @if (setting.ShowContactUs)
                        {
                            <li><a class="active-a7" href="/Home/ContactUsHome">@Resources.Global.ContactUs</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pageCOntentdd">
        @RenderBody()
    </div>
    @if (setting.ShowContactUs)
    {
        <footer class="wpo-site-footer" style="">
            <div class="wpo-upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 footercol">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <a class="logo" href="/Home"><img src="@_contactUs.Logo" alt="Logo"></a>
                                </div>
                                @if (en)
                                {
                                    <p>@_contactUs.CompanyTitleEnglish</p>
                                }
                                else
                                {
                                    <p>@_contactUs.CompanyTitleArabic</p>
                                }
                                <ul>
                                    @if (allSocialMedia != null && allSocialMedia.Any())
                                    {
                                        foreach (var social in allSocialMedia)
                                        {
                                            if (@social.Link.ToLower().Contains("facebook"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #3d53aa;" target="_blank">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("twitter"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #03A9F4;" target="_blank">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("linkedin"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #0077B5;" target="_blank">
                                                        <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("whatsapp"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #29A71A;" target="_blank">
                                                        <i class="fab fa-whatsapp"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("instagram"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #af7a2c;" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("youtube"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #dc3545;" target="_blank">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("dailymotion"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #000;" target="_blank">
                                                        <i class="fab fa-dailymotion"></i>
                                                    </a>
                                                </li>
                                            }
                                            if (@social.Link.ToLower().Contains("tvz"))
                                            {
                                                <li>
                                                    <a href="@social.Link" rel="nofollow" title="@social.NameEnglish" style="background: #fff;" target="_blank">
                                                        <img src="~/assets_NewPublic/images/icons/TVZ.PNG" alt="TVZ.PNG" />
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        @if (en)
                        {
                            <div class="col col-xl-4  col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 footercol">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>@Resources.Global.OurServices</h3>
                                    </div>
                                    <ul>
                                        @for (int i = 0; i < _services.Count; i++)
                                        {
                                            <li><a href="/Home/ServicesDetails/@_services[i].Id">@_services[i].TitleEnglish</a></li>
                                            if (i == 3)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-xl-4  col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 ">
                                <div class="widget wpo-service-link-widget">
                                    <div class="widget-title">
                                        <h3>@Resources.Global.ContactUs </h3>
                                    </div>
                                    <div class="contact-ft">
                                        <ul>
                                            <li>@_contactUs.AddressEnglish</li>
                                            <li>
                                                @_contactUs.Phone<br>
                                            </li>
                                            <li>@_contactUs.Email</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col col-xl-4  col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 footercol">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>@Resources.Global.OurServices</h3>
                                    </div>
                                    <ul>
                                        @for (int i = 0; i < _services.Count; i++)
                                        {
                                            <li><a href="/home/ServicesDetails/@_services[i].Id">@_services[i].TitleArabic</a></li>
                                            if (i == 3)
                                            {
                                                break;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-xl-4  col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 ">
                                <div class="widget wpo-service-link-widget">
                                    <div class="widget-title">
                                        <h3>@Resources.Global.ContactUs </h3>
                                    </div>
                                    <div class="contact-ft">
                                        <ul>
                                            <li>@_contactUs.AddressArabic</li>
                                            <li>
                                                <p style="direction: ltr; width: max-content;">@_contactUs.Phone</p>
                                            </li>
                                            <li>@_contactUs.Email</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col col-xl-4  col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 footercol" style="display:none;">
                            <div class="widget instagram">
                                <div class="widget-title">
                                    <h3>@Resources.Global.Gallery</h3>
                                </div>
                                <ul class="d-flex">
                                    @for (int i = 0; i < _galaries.Count; i++)
                                    {
                                        <li><a href="/home/picture/@_galaries[i].Id"><img src="@_galaries[i].Image" alt="Gallary Item"></a></li>
                                        if (i == 5)
                                        {
                                            break;
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpo-lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <ul>
                                <li> @Resources.Global.copyRight</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    }
    <script src="~/assets_NewPublic/js/gallery-jquery.min.js"></script>
    <script src="~/assets_NewPublic/js/gallery-jquery.flipster.min.js"></script>
    <script src="~/assets_NewPublic/js/jquery.min.js"></script>
    <script src="~/assets_NewPublic/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets_NewPublic/js/bootstrap.min.js"></script>
    <script src="~/assets_NewPublic/libs/bootstrap.bundle.min.js"></script>
    <script src="~/assets_NewPublic/js/jquery.stellar.min.js"></script>
    <script src="~/assets_NewPublic/js/owl.carousel.min.js"></script>
    <script src="~/assets_NewPublic/js/scrollax.min.js"></script>
    <script src="~/assets_NewPublic/js/main.js"></script>
    @RenderSection("EndBody", required: false)
    <script src="~/assets_NewPublic/libs/VideoPopUp/js/jquery-plugin-collection.js"></script>
    <script src="~/assets_NewPublic/libs/VideoPopUp/js/script.js"></script>
    <script src="~/assets_NewPublic/js/nacscript.js"></script>
</body>
</html>
