
@{
    ViewBag.Title = "constview";
}


<div class="pagecontent">

    <div class="titlpage-add">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="titlte">
                    <h2>constview</h2>
                </div>
            </div>

        </div>


    </div>
    <div class="pagedetails" style="width:100%">
        <!--begin:: Widgets/Application Sales-->
        <div class="searchss">



            <!--begin::Widget 11-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                       



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">@Resources.Global.Name</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <input class="form-control" data-val="true" data-val-required="The Unit Name Is Required" id="Name" name="Name" placeholder="Unit Name" type="text" value="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">@Resources.Global.Grade</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <select class="selectpicker" data-live-search="true" id="ddl_grades">
                                                <option value="-1">@Resources.Global.ChooseGrade</option>
                                               
                                                    <option value="ssss">sssss</option>
                                              


                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="" class=" col-form-label">@Resources.Global.PdfAttAchmets</label>
                                        </div>
                                        <div class="col-lg-9">
                                            <input type="file" multiple name="uploadattachments" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



                                <button type="submit" class="btn btn-success btnicon"> @Resources.Global.Create <i class="fa fa-check" aria-hidden="true"></i></button>


                                <a href="/Admission/Units" class="btn btn-danger btnicon"> @Resources.Global.Back <i class="fa fa-undo"></i></a>





                            </div>




                        }

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="images">



                        <img src="~/assets/demo/demo8/media/img/books.png" />
                    </div>
                </div>

                <!--begin::Table-->

            </div>


            <!--end::Widget 11-->




        </div>
        <!--end:: Widgets/Application Sales-->
    </div>

</div>
