@model Galary
@{
    ViewBag.Title = "Edit-Galary";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    var alboums = new Eagles.LMS.BLL.UnitOfWork().AlbumManager.GetAllBind();

}


<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Add Galary</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission/Galaries">Home</a></li>
                        <li class="breadcrumb-item active">Add-Galary</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        @using (Html.BeginForm("Edit", "Galaries", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(s => s.Id)
            @Html.HiddenFor(s => s.Image)
            @Html.HiddenFor(s => s.CreateTime)
            @Html.HiddenFor(s => s.UserCreateId)
            @Html.HiddenFor(s => s.IsImage)


            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Order</label>
                                            @Html.TextBoxFor(s => s.Order, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Order"
                                       })
                                            @Html.ValidationMessageFor(s => s.Order)
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Title Arabic</label>
                                            @Html.TextBoxFor(s => s.TitleArabic, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Title Arabic"
                                       })
                                            @*@Html.ValidationMessageFor(s => s.TitleArabic)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Title English</label>
                                            @Html.TextBoxFor(s => s.TitleEnglish, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Title English"
                                       })
                                            @*@Html.ValidationMessageFor(s => s.TitleEnglish)*@
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Album</label>
                                            @Html.DropDownListFor(x => Model.AlbumId, new SelectList(alboums,
                                           "Id", "TitleEnglish"), htmlAttributes: new { @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Image <span class="extiniosType">(jpg, png, peg, gif, jpg)</span><span class="extiniosType">(W:1420px, H:870px)</span></label>
                                            <input class="form-control" name="uploadattachments" type="file" id="uploadattachments">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="mb-3">
                                            @if (Model != null && Model.Image != null)
                                            {
                                                <img style="max-width: auto; height: 210px " src="@Model.Image" />
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div> <!-- end col -->


            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="foooterbuttons">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> @Resources.Global.Save
                            </button>
                            <a href="/Admission/Galaries" class="btn btn-danger waves-effect waves-light">
                                <i class="fa fa-backspace back font-size-16 align-middle me-2"></i> @Resources.Global.Back
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

</div>


@section EndBody{

    @if (requestStatus != null)
    {

        <script>

              notify = $.notify({
                  message: '@requestStatus.Message',

              }, {

                  type: '@requestStatus.Status' == 'Edited' ? "success" :"danger",
                      animate: {
                          enter: 'animated flipInY',
                          exit: 'animated flipOutX',
                      }
                  });
        </script>

        TempData.Remove("RequestStatus");
    }
}
