
@{
    ViewBag.Title = "AlbumsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    var Id = ViewBag.Id;

    var _Albums = ctx.GalaryManager.GetAll().OrderByDescending(s => s.Id).ToList();
}
@section EndHeader{
    @*<link href="css/lightgallery.css" rel="stylesheet">*@
    <link href="~/assets_NewPublic/css/lightgallery.css" rel="stylesheet" />
}
<div class="header-bc">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="title-header">
                    <h3>@Resources.Global.Picture</h3>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/Home">Home</a> > </li>
                            <li>@Resources.Global.Picture</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->

                </div>
                <!--end title-header-->

            </div>
            <!--end col-6-->



        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->






<div class="gallaySection">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12" style="">


                <div class="demo-gallery">
                    <div id="lightgallery" class="row list-unstyled oterrow">





                        @foreach (var album in _Albums)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 othercol" data-src="@album.Image"
                                 data-sub-html="
                                 @if (en) {  
                                     <p>@album.TitleEnglish </p>
                                 }
                                 else
                                 {
                                    <p>@album.TitleArabic</p>
                                 }
                            ">
                                <a href="" class="imagesitem">
                                    <img class="img-responsive" src="@album.Image" alt="Thumb-1">
                                </a>
                            </div>
                        }





                    </div>
                </div>











            </div>


        </div>



    </div>
    <!--end row-->
</div>



@section EndBody{
    <!--        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>-->
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <!--        <script src="../demo/js/lg-rotate.js"></script>-->
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
}