
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();

    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}

@if (en)
{
    @section PageTitle{
        @*<title>@SEO.CitizenPageTitleEnglish</title>*@
        <title>Citizen</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.CitizenPageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.CitizenPageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.CitizenPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        @*<title>@SEO.CitizenPageTitleArabic</title>*@
        <title>صحيفة المواطن</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.CitizenPageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.CitizenPageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.CitizenPageCanonicalUrl" />
    }
}

<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>