
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();

    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}

@if (en)
{
    @section PageTitle{
        <title>@SEO.ContactUsPageTitleEnglish</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ContactUsPageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.ContactUsPageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ContactUsPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        <title>@SEO.ContactUsPageTitleArabic</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ContactUsPageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.ContactUsPageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ContactUsPageCanonicalUrl" />
    }
}


<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>
