
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    var _news = new List<New>();
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        _news = ctx.NewManager.GetAll().Where(s => s.Status == EntityStatus.Approval && s.TitleEnglish != null).OrderByDescending(s => s.Order).ToList();

    }
    else
    {
        _news = ctx.NewManager.GetAll().Where(s => s.Status == EntityStatus.Approval && s.TitleArabic != null).OrderByDescending(s => s.Order).ToList();

    }
}




@if (en)
{
    @section PageTitle{
        @*<title>@SEO.NewsPageTitleEnglish</title>*@
        <title>News</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.NewsPageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.NewsPageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.NewsPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        @*<title>@SEO.NewsPageTitleArabic</title>*@
        <title>الاخبار</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.NewsPageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.NewsPageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.NewsPageCanonicalUrl" />
    }
}



@section EndHeader{
    <style>
        .menu li a.active-a5 {
            color: #af7a2c;
            border-bottom: 1px solid #fff0;
            font-weight: 500;
        }
    </style>
}







<div class="header-bc">

    <div class="ClassImaesBG">
        <img src="~/assets_NewPublic/images/bg/NEWBG/NewNewsGBIN.jpg" alt="NewNewsGBIN.jpg" />
    </div>
    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="title-header">

                        <h3>@Resources.Global.News</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/Home">@Resources.Global.Home</a> > </li>
                                <li>@Resources.Global.News</li>
                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->

    </div>
</div>
<!--end header-bc-->












<div class="threecitizenimgadetails newsssspagess">
    <div class="overlay">
        <div class="container">
            <div class="ciciccont">
                <div style="display:none" class="row mb-3">
                    <div class="col-lg-3 col-md-3">
                        <div class="sendmessage">
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9">
                        <A href="#" class="btn btn-black">Search</A>
                    </div>
                </div>
                <div class="row otherrooow" >






                    @foreach (var _new in _news)
            {
                <div class="NewsCoool">
                    <div class="SmallImg images">
                        <a href="/Home/NewsDetails/@_new.Id">
                            <div class="NewsItemImg">
                                @if (!string.IsNullOrEmpty(_new.MainImage))
                                {

                                    <div class=" imagsBG" style="background-image: url(@_new.MainImage)"></div>

                                }
                                else
                                {

                                    <div class=" imagsBG" style="background-image: url(/assets_NewPublic/images/f14.jpeg)"></div>


                                }
                            </div>
                        </a>
                        <div class="discription">
                            <a href="/Home/NewsDetails/@_new.Id">
                                @if (en)
                                {
                                    <h2>@_new.TitleEnglish</h2>
                                    if (_new.CreatedTime != null)
                                    {
                                        <h1 class="Date"><span><i class="far fa-calendar-alt"></i></span>@_new.NewsDate.ToShortDateString()</h1>

                                    }

                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@_new.ShortDescriptionEnglish)</p>
                                    </div>

                                }
                                else
                                {
                                    <h2>@_new.TitleArabic</h2>
                                    if (_new.CreatedTime != null)
                                    {
                                        <h1 class="Date"><span><i class="far fa-calendar-alt"></i></span>@_new.NewsDate.ToShortDateString()</h1>

                                    }

                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@_new.ShortDescriptionArabic)</p>
                                    </div>

                                }
                            </a>
                        </div>
                    </div>
                </div>
            }

                </div>

                @*<div class="row">
                    
                    <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1500" id="paged">
                    
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


















@section EndBody{



    @*<script>
        $(document).ready(function () {
            //Initially load pagenumber=1
            GetPageData(1, 9);
        });

        function GetPageData(pageNum, pageSize) {
            //After every trigger remove previous data and paging
            $("#tblData").empty();
            $("#paged").empty();
            $.getJSON("/Home/GetNewsPageData", { pageNumber: pageNum, pageSize: pageSize }, function (response) {
                var rowData = "";
                for (var i = 0; i < response.Data.length; i++) {
                    rowData = rowData + '  <div class="NewsCoool"><div class="SmallImg images"><a href="/Home/NewsDetails/' + response.Data[i].Id + '?slug=' + response.Data[i].Slug + '"><div class="NewsItemImg"><div class=" imagsBG" style="background-image: url(' + response.Data[i].MainImage + ')"></div></div></a><div class="discription"><a href="/Home/NewsDetails/' + response.Data[i].Id + '?slug=' + response.Data[i].Slug + '"><h2>' + response.Data[i].TitleEnglish + '</h2><h1 class="Date"><span><i class="far fa-calendar-alt"></i></span>' + response.Data[i].StringDate + '</h1><div class="ContentPargraph"><p>' + response.Data[i].ShortDescriptionEnglish + '</p></div></a></div></div></div>  ';
                }
                $("#tblData").append(rowData);
                PaggingTemplate(response.TotalPages, response.CurrentPage);
            });
        }
        //This is paging temlpate ,you should just copy paste
        function PaggingTemplate(totalPage, currentPage) {
            var template = "";
            var TotalPages = totalPage;
            var CurrentPage = currentPage;
            var PageNumberArray = Array();


            var countIncr = 1;
            for (var i = currentPage; i <= totalPage; i++) {
                PageNumberArray[0] = currentPage;
                if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
            PageNumberArray = PageNumberArray.slice(0, 5);
            var FirstPage = 1;
            var LastPage = totalPage;
            if (totalPage != currentPage) {
                var ForwardOne = currentPage + 1;
            }
            var BackwardOne = 1;
            if (currentPage > 1) {
                BackwardOne = currentPage - 1;
            }

            /* template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"*/
            template = template + '<ul class="pagination m-b30" >' +
                '<li><a class="" href="#" onclick="GetPageData(' + FirstPage + ')"><i class="fa fa-fast-backward"></i></a></li>' +
                '<li><a class="" href="#" onclick="GetPageData(' + BackwardOne + ')"><i class="fa fa-backward"></i></a></li>';

            var numberingLoop = "";
            for (var i = 0; i < PageNumberArray.length; i++) {
                numberingLoop = numberingLoop + '<li><a class=" " onclick="GetPageData(' + PageNumberArray[i] + ')" href="#">' + PageNumberArray[i] + '</a></li>'
            }
            template = template + numberingLoop + '<li><a class=" " href="#" onclick="GetPageData(' + ForwardOne + ')" ><i class="fa fa-forward"></i></a></li>' +
                '<li class="next"><a class="" href="#" onclick="GetPageData(' + LastPage + ')"><i class="fa fa-fast-forward"></i></a></li></ul>';
            $("#paged").append(template);
            $('#selectedId').change(function () {
                GetPageData(1, $(this).val());
            });
        }
    </script>*@



}
