

@{
    ViewBag.Title = "NotFound";
}

<div class="BAgeItemNotFound">

    <div class="forflex">
        <h1 title="@Resources.Global.Not_Found_Page">
            @Resources.Global.Not_Found_Page
        </h1>
        <h2 title="@Resources.Global.This_Page_Is_Not_Found">
            @Resources.Global.This_Page_Is_Not_Found
        </h2>


        <button title="@Resources.Global.Gotohome" onclick="window.location.href='/Home/Index'">@Resources.Global.Gotohome</button>

        @*<h6 style="font-size:9rem">@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>*@
        @*<a href="/Home/Index" style="font-size: 9rem;">Continue</a>*@

    </div>
</div>