
@{
    ViewBag.Title = "Picture";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UnitOfWork ctx = new UnitOfWork();


    //var vidoes = ctx.GalaryManager.GetAll().Where(s =>! s.IsImage).OrderBy(s => s.Order).ToList();

    Galary active_galary;
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    var Id = ViewBag.Id;
    var albumId = ViewBag.AlbumId;

    List<Galary> pictures;
    if (albumId != null)
    {
        pictures = ctx.GalaryManager.GetAll().Where(s => s.IsImage && s.AlbumId == albumId).OrderBy(s => s.Order).ToList();
    }
    else
    {
        //var firstpicture = new Galary();
        //firstpicture = ctx.GalaryManager.GetBy(Id);

        pictures = ctx.GalaryManager.GetAll().Where(s => s.IsImage && s.AlbumId == Id).OrderBy(s => s.Order).ToList();
    }
    if (en == true)
    {
        pictures = pictures.Where(s => s.TitleEnglish != null).ToList();
    }
    else
    {
        pictures = pictures.Where(s => s.TitleArabic != null).ToList();
    }
}

@section metatags{
    <meta name="keywords" id="metaKeyword" content="empcnews, Gallary, Picture, news, empc, " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}

@section EndHeader {

    <style>
        .menu li a.active-a6 {
            color: #af7a2c;
            border-bottom: 1px solid #fff0;
            font-weight: 500;
        }
    </style>


    <link href="~/assets_NewPublic/css/lightgallery.css" rel="stylesheet" />
}

<div class="header-bc">
    <div class="ClassImaesBG">
        <img src="~/assets_NewPublic/images/bg/NEWBG/NewGallaryBGIN.jpg" />
    </div>
    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="title-header">

                        <h3>@Resources.Global.Picture</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/Home">Home</a> > </li>
                                <li><a>@Resources.Global.Picture</a> > </li>
                                @*@if (en)
                                    {

                                        <li>@Model.TitleEnglish  </li>

                                    }
                                    else
                                    {

                                        <li>@Model.TitleArabic</li>
                                    }*@

                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->

    </div>
</div>
<!--end header-bc-->




<div class="gallaySection">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12" style="">


                <div class="demo-gallery">
                    <div id="lightgallery" class="row list-unstyled oterrow">





                        @foreach (var album in pictures)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 othercol" data-src="@album.Image"
                                 data-sub-html="
                                 @if (en) {<p>@album.TitleEnglish </p>
                                 }
                                 else
                                 {
                                    <p>@album.TitleArabic</p>
                                 }
                            ">
                            <a href="" class="imagesitem">

                                @*<img class="img-responsive" src="@album.Image" alt="Thumb-1">*@
                                <div class=" imagsBG" style="background-image: url(@album.Image)"></div>
                            </a>
                            </div>
                        }





                    </div>
                </div>











            </div>


        </div>



    </div>
    <!--end row-->
</div>








<div class="news" style="display:none">
    <div class="container">
        <Div class="row">


            <div class="cleaner-h3 visible-xs"></div>


            @foreach (var picture in pictures)
            {


                <Div class="col-md-4">
                    <a class="new new-small small-location location-new" href="/Home/PictureDetails/@picture.Id">
                        <img src="@picture.Image" class="img-responsive img-services" />
                        <h3>
                            @if (en)
                            {
                                <span>
                                    @picture.TitleEnglish
                                </span>

                            }
                            else
                            {
                                <span>
                                    @picture.TitleArabic
                                </span>
                            }
                            <p>></p>
                        </h3>
                    </a>
                </Div>
            }
            <!--end col-4-->
            <!--end col-4-->

            <div class="cleaner-h3"></div>









        </Div>
        <!--end row-->
    </div>
    <!--end continer-->
</div>


<div class="gallaySection" style="display:none;">
    <div class="container">
        <div class="row">

            <div class="cleaner-h4"></div>

            <div style="display:none" class="col-md-3">
                <div class="sendmessage">
                    <select>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                    </select>

                </div>

            </div>
            <!--end col-3-->
            <div style="display:none" class="col-lg-9 col-md-9">
                <A href="#" class="btn btn-black">Select</A>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="vedioSecNew">
                    <div class="row justify-content-center">
                        @if (Id != null)
                        {
                            active_galary = pictures.FirstOrDefault(s => s.Id == Convert.ToInt32(Id));
                        }
                        else
                        {
                            active_galary = pictures.FirstOrDefault();

                        }
                        @if (active_galary != null)
                        {
                            <div class="col-lg-9 col-md-9 col-md-9 col-xs-12">
                                <div class="bigvedios">
                                    <div class="iframdiv zoom-gallery">
                                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/4AO7Pz-ArE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                                        <div class="images">
                                            <a href="@active_galary.Image">
                                                <img src="@active_galary.Image">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="vediossowlwl">
                                <div class="carousel-vedios owl-carousel zoom-gallery">
                                    @foreach (var picture in pictures)
                                    {


                                        <div class="item">
                                            <div class="frmadevsmall">
                                                <div class="images">
                                                    <a href="@picture.Image">
                                                        <img src="@picture.Image">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    }



                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>



    </div>
    <!--end row-->
</div>

<!--end container-->


@section EndBody{
    <!--        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>-->
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
    <!--        <script src="../demo/js/lg-rotate.js"></script>-->
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
}
