
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();


    //var vidoes = ctx.GalaryManager.GetAll().Where(s =>! s.IsImage).OrderBy(s => s.Order).ToList();

    Galary active_galary;
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    var Id = ViewBag.Id;
    var albumId = ViewBag.AlbumId;

    List<Galary> pictures;
    if (albumId != null)
    {
        pictures = ctx.GalaryManager.GetAll().Where(s => s.IsImage && s.AlbumId == albumId).OrderBy(s => s.Order).ToList();
    }
    else
    {
        //var firstpicture = new Galary();
        //firstpicture = ctx.GalaryManager.GetBy(Id);

        pictures = ctx.GalaryManager.GetAll().Where(s => s.IsImage && s.AlbumId == Id).OrderBy(s => s.Order).ToList();
    }
    if (en == true)
    {
        pictures = pictures.Where(s => s.TitleEnglish != null).ToList();
    }
    else
    {
        pictures = pictures.Where(s => s.TitleArabic != null).ToList();
    }
}




@if (en)
{
    @section PageTitle{
        @*<title>@SEO.PicturePageTitleEnglish</title>*@
        <title>Album Details</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.PicturePageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.PicturePageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.PicturePageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        @*<title>@SEO.PicturePageTitleArabic</title>*@
        <title>تفاصيل الالبوم</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.PicturePageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.PicturePageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.PicturePageCanonicalUrl" />
    }
}







@section EndHeader {

    <style>
        .menu li a.active-a6 {
            color: #af7a2c;
            border-bottom: 1px solid #fff0;
            font-weight: 500;
        }
    </style>


    <link href="~/assets_NewPublic/css/lightgallery.css" rel="stylesheet" />
}

<div class="header-bc">
    <div class="ClassImaesBG">
        <img src="~/assets_NewPublic/images/bg/NEWBG/NewGallaryBGIN.jpg" alt="NewGallaryBGIN.jpg" />
    </div>
    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="title-header">

                        <h3>@Resources.Global.Picture</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/Home">Home</a> > </li>
                                <li><a>@Resources.Global.Picture</a> > </li>
                                @*@if (en)
                                    {

                                        <li>@Model.TitleEnglish  </li>

                                    }
                                    else
                                    {

                                        <li>@Model.TitleArabic</li>
                                    }*@

                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->

    </div>
</div>
<!--end header-bc-->




<div class="gallaySection">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12" style="">


                <div class="demo-gallery">
                    <div id="lightgallery" class="row list-unstyled oterrow">





                        @foreach (var album in pictures)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 othercol" data-src="@album.Image"
                                 data-sub-html="
                                 @if (en) {<p>@album.TitleEnglish </p>
                                 }
                                 else
                                 {
                                    <p>@album.TitleArabic</p>
                                 }
                            ">
                            <a href="" class="imagesitem">

                                @*<img class="img-responsive" src="@album.Image" alt="Thumb-1">*@
                                <div class=" imagsBG" style="background-image: url(@album.Image)"></div>
                            </a>
                            </div>
                        }





                    </div>
                </div>











            </div>


        </div>



    </div>
    <!--end row-->
</div>








<div class="news" style="display:none">
    <div class="container">
        <Div class="row">


            <div class="cleaner-h3 visible-xs"></div>


            @foreach (var picture in pictures)
            {


                <Div class="col-md-4">
                    <a class="new new-small small-location location-new" href="/Home/PictureDetails/@picture.Id">
                        <img src="@picture.Image" class="img-responsive img-services" alt=" @picture.TitleEnglish" />
                        <h3>
                            @if (en)
                            {
                                <span>
                                    @picture.TitleEnglish
                                </span>

                            }
                            else
                            {
                                <span>
                                    @picture.TitleArabic
                                </span>
                            }
                            <p>></p>
                        </h3>
                    </a>
                </Div>
            }
            <!--end col-4-->
            <!--end col-4-->

            <div class="cleaner-h3"></div>









        </Div>
        <!--end row-->
    </div>
    <!--end continer-->
</div>



<!--end container-->


@section EndBody{
    <!--        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>-->
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    @*<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>*@

    <script src="~/assets_NewPublic/js/lightbox/lightgallery.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-autoplay.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-fullscreen.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-hash.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-pager.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-share.js"></script>
    <script src="~/assets_NewPublic/js/lightbox/lg-zoom.js"></script>
    <!--        <script src="../demo/js/lg-rotate.js"></script>-->
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
}
