
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    //var services = ctx.ServiceManager.GetAll().Where(s => s.Status == EntityStatus.Approval).OrderByDescending(s => s.Id).ToList();


    var services = ViewBag.ServData;


    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        //services = services.Where(s => s.TitleEnglish != null).ToList();
    }
    else
    {
        //services = services.Where(s => s.TitleArabic != null).ToList();

    }
}







@if (en)
{
    @section PageTitle{
        @*<title>@SEO.ServicesPageTitleEnglish</title>*@
        <title>Services</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ServicesPageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.ServicesPageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ServicesPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        @*<title>@SEO.ServicesPageTitleArabic</title>*@
        <title>الخدمات</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ServicesPageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.ServicesPageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ServicesPageCanonicalUrl" />
    }
}





@section EndHeader{
    <style>
        .menu li a.active-a4 {
            color: #5a5a5a;
            border-bottom: 1px solid #fff0;
            font-weight: 500;
        }
    </style>
}
<div class="header-bc">

    <div class="ClassImaesBG">
        <img title="Banner Image" src="~/assets_NewPublic/images/bg/NEWBG/ServiceNewGB.jpg" alt="ServiceNewGB.jpg" />
    </div>
    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="title-header">

                        <h3 title="@Resources.Global.services">@Resources.Global.services</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a title="@Resources.Global.Home" href="/Home">@Resources.Global.Home</a> > </li>
                                <li>@Resources.Global.services</li>
                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>


</div>
<!--end header-bc-->


<div class="servpagenew">
    <div class="container">
        <div class="row">
            @foreach (var service in services)
            {


                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="servItemnew">
                        <div>
                            <div class="images">
                                @*<img src="@service.MainImage">*@

                                @if (!string.IsNullOrEmpty(service.MainImage))
                                {
                                    <div class=" imagsBG" style="background-image: url(@service.MainImage)"></div>
                                }
                                else
                                {

                                    <div class=" imagsBG" style="background-image: url(/assets_NewPublic/images/f14.jpeg)"></div>
                                }


                            </div>
                            <div class="discription">
                                @if (en)
                                {


                                    <h2 title="@service.TitleEnglish">@service.TitleEnglish</h2>
                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@service.ShortDescriptionEnglish)</p>
                                    </div>

                                }
                                else
                                {

                                    <h2 title="@service.TitleArabic">@service.TitleArabic</h2>
                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@service.ShortDescriptionArabic)</p>
                                    </div>

                                }
                                <a title="@Resources.Global.ReadMore" href="/Home/ServicesDetails/@service.Id?slug=@service.Slug"> @Resources.Global.ReadMore</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



