
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();

    //var pictures = ctx.GalaryManager.GetAll().Where(s => s.IsImage).OrderBy(s => s.Order).ToList();
    //var vidoes = ctx.GalaryManager.GetAll().Where(s => !s.IsImage).OrderBy(s => s.Order).ToList();
    var vidoes = new List<Galary>();
    Galary active_galary;
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        vidoes = ctx.GalaryManager.GetAll().Where(s => !s.IsImage && s.TitleEnglish != null).OrderBy(s => s.Order).ToList();
    }
    else
    {
        vidoes = ctx.GalaryManager.GetAll().Where(s => !s.IsImage && s.TitleArabic != null).OrderBy(s => s.Order).ToList();
    }

    var Id = ViewBag.Id;
}










@if (en)
{
    @section PageTitle{
        <title>@SEO.VideoPageTitleEnglish</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.VideoPageMetaKeywordsEnglish " />
        <meta name="description" id="metaDesc" content="@SEO.VideoPageMetaDescriptionEnglish" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.VideoPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        <title>@SEO.VideoPageTitleArabic</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.VideoPageMetaKeywordsArabic " />
        <meta name="description" id="metaDesc" content="@SEO.VideoPageMetaDescriptionArabic" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.VideoPageCanonicalUrl" />
    }
}







<div class="header-bc">
    <div class="ClassImaesBG">
        <img title="Banner Image" src="~/assets_NewPublic/images/bg/GallaryBG.jpg" alt="GallaryBG.jpg" />
    </div>
    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="title-header">

                        <h3 title="@Resources.Global.vedios">@Resources.Global.vedios</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a title="@Resources.Global.Home" href="/Home">@Resources.Global.Home</a> > </li>
                                <li>@Resources.Global.vedios</li>
                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->

    </div>
</div>
<!--end header-bc-->




<div class="news">
    <div class="container">
        <div class="row">
            <div class="cleaner-h3 visible-xs"></div>
            @foreach (var vidoe in vidoes)
            {
                <div class="col-md-4">
                    <a title="t_title" class="new new-small small-location location-new" href="/Home/VideoDetails/@vidoe.Id">
                        <img title="@vidoe.TitleEnglish" src="~/assets_NewPublic/images/f14.jpeg" class="img-responsive img-services" alt="@vidoe.TitleEnglish" />
                        <h3 title="@vidoe.TitleEnglish">
                            @if (en)
                            {
                                <span>
                                    @vidoe.TitleEnglish
                                </span>
                            }
                            else
                            {
                                <span>
                                    @vidoe.TitleArabic
                                </span>
                            }
                            <p>></p>
                        </h3>
                    </a>
                </div>
            }
        </div>
    </div>
</div>































@*<div class="vediosgallary" style="display:none">
    <div class="container">
        <div class="row">

            <div class="cleaner-h4"></div>

            <div class="col-lg-3 col-md-3">
                <div class="sendmessage">
                    <select>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                        <option>categories</option>
                    </select>

                </div>

            </div>

            <div class="col-lg-9 col-md-9">
                <A href="#" class="btn btn-black">Select</A>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="vedioSecNew">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-md-9 col-md-9 col-xs-12">
                            <div class="bigvedios">
                                <div class="iframdiv">
                                    <div class="imags">
                                        <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                    </div>
                                    <div class="buttonPopUp">
                                        <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                            <i class="fas fa-play" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="vediossowlwl">
                                <div class="carousel-vedios owl-carousel">


                                    <div class="item">
                                        <div class="frmadevsmall">
                                            <div class="images">
                                                <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                            </div>
                                            <div class="buttonplay">
                                                <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                                    <i class="fas fa-play" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="frmadevsmall">
                                            <div class="images">
                                                <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                            </div>
                                            <div class="buttonplay">
                                                <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                                    <i class="fas fa-play" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="frmadevsmall">
                                            <div class="images">
                                                <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                            </div>
                                            <div class="buttonplay">
                                                <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                                    <i class="fas fa-play" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="frmadevsmall">
                                            <div class="images">
                                                <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                            </div>
                                            <div class="buttonplay">
                                                <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                                    <i class="fas fa-play" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="frmadevsmall">
                                            <div class="images">
                                                <img src="~/assets_NewPublic/images/f14.jpeg" alt="f14.jpeg">
                                            </div>
                                            <div class="buttonplay">
                                                <button type="button" class="vediobtn" data-toggle="modal" data-target="#VedioPopup">
                                                    <i class="fas fa-play" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>






            </div>

        </div>


    </div>
</div>*@


@*<div class="modal fade Vediomodal" id="VedioPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="vedioIframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4AO7Pz-ArE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</div>*@

