

@model List<Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
    int index = 1;
    var ctx = new Eagles.LMS.BLL.UnitOfWork();

}


<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">
                    <a href="/Admission/Services/Create" class="btn btn-success waves-effect waves-light"> <i class="bx bx-plus font-size-16 align-middle me-2"></i> Add Services</a>
                </h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" style="padding-bottom:30px;">

                        <table id="table_Slider" class=" table table-bordered tableOtherdite">
                            <thead class="DarkThead">
                                <tr>

                                    @*<th>#Order</th>*@
                                    <th> <p>Action</p> </th>
                                    <th> <p>Main Image</p> </th>
                                    <th> <p>Title Arabic</p> </th>
                                    <th> <p>Title English</p> </th>
                                    <th> <p>Short Description AR </p></th>
                                    <th> <p>Short Description EN</p> </th>
                                    @*<th> <p>Description AR </p></th>

                                        <th> <p>Description EN</p> </th>*@

                                    <th> <p>User Created</p> </th>
                                    <th> <p>Created Time</p> </th>

                                    <th> <p>Last User Edited</p> </th>
                                    <th> <p>Last Edited Time</p> </th>

                                </tr>
                            </thead>


                            <tbody>

                                @foreach (var item in Model)
                                {

                        
                                <tr>
                                    @*<td><p>@item.Order</p></td>*@
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bx bx-dots-horizontal-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item align-middle " href="/Admission/Services/Edit/@item.Id"><i class="bx bx-edit font-size-16 me-1"></i>@Resources.Global.Edit</a>
                                                <a class="dropdown-item text-danger align-middle btn_delete" data-id="@item.Id" href="#"><i class="bx bx-trash font-size-16 me-1"></i>@Resources.Global.Delete</a>


                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <a href="@item.MainImage" class="btnIconImages" target="_blank">
                                                <i class="bx bx-image"></i>
                                            </a>
                                        </td>
                                        <td><p class="FontArabic ">@item.TitleArabic</p></td>
                                        <td><p>@item.TitleEnglish</p></td>
                                        <td><p class="FontArabic DescriptionP">@item.ShortDescriptionArabic</p></td>
                                        <td><p class="DescriptionP">@item.ShortDescriptionEnglish</p></td>
                                        @*<td><p class="FontArabic DescriptionP ">@Html.Raw(@item.DescriptionArabic)</p></td>
                                            <td><p class="DescriptionP">@Html.Raw(@item.DescriptionEnglish)</p></td>*@
                                        <td><p>@ctx.UserManager.GetBy(item.UserCreateId).FullName</p></td>
                                        <td><p>@item.CreateTime</p></td>
                                        <td><p>@ctx.UserManager.GetBy(item.UserEditId).FullName</p></td>
                                        <td><p>@item.EditeTime</p></td>

                                    </tr>
                                    
                                        {
                                            index += 1;
                                        }

                                }

                            </tbody>





                        </table>
                    </div>



                </div>
            </div>
        </div> <!-- end col -->

    </div>

</div>



@section EndBody{
    <script>
        $(function () {

  $("body").on("click", ".btn_delete", (s) => {
                let self = $(s.currentTarget),
                    entityId = self.attr('data-id');
                bootbox.confirm("@Resources.Global.ConfirmDeleteoperation !", function (flag) {
                    if (flag) {
                        $.ajax({
                            type: "POST",
                            url: "/Admission/Services/Delete/" + entityId+"",
                            success: (response) => {
                                toastr.success('@Resources.Global.Theunithasbeensuccessfullydeleted', '', { timeOut: 10000 });
                                self.closest('tr').remove();
                            }, error: (error) => {
                                // unauthorize
                                let errorMessage = manageAjaxError(error);
                                pushNotification("danger", errorMessage);
                            }
                        });
                    }
                })
            });
        });
    </script>

}